/* App.css */
.app {
  width: 300px;
  margin: 0 auto;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.completed .todo-text {
  text-decoration: line-through;
}

.todo-text {
  flex-grow: 1;
}

.kebab-menu button {
  margin-left: 5px;
  padding: 5px;
}

input {
  padding: 5px;
  margin-bottom: 10px;
}

button {
  padding: 5px 10px;
}

form {
  margin-bottom: 20px;
}
